@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/range-slider.css';
@import 'additional-styles/toggle-switch.css';
@import 'additional-styles/theme.css';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

@layer utilities {
  .pause {
    animation-play-state: paused;
  }
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: rgba(25, 25, 100, 0.1);
}
::-webkit-scrollbar-thumb {
  background: rgba(25, 25, 100, 1);
}
::-webkit-scrollbar-thumb:hover {
  background: #da4ea2;
}

.div-3d-hover {
  transition: transform 0.5s ease, box-shadow 0.5s ease; 
}
.btn-3d-hover {
  transition: transform 0.5s ease, box-shadow 0.5s ease; 
}
.div-3d-hover:hover {
  transform: translateY(-1px); 
  box-shadow: 0 12px 12px rgba(0, 0, 0, 0.4); 
}
.btn-3d-hover:hover {
  transform: translateY(-1px); 
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4); 
}

.animate-gradient {
  background-size: 300%;
  -webkit-animation: animatedgradient 16s ease infinite alternate;
  -moz-animation: animatedgradient 16s ease infinite alternate;
  animation: animatedgradient 16s ease infinite alternate;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 80%;
  }
  50% {
    background-position: 60% 20%;
  }
  100% {
    background-position: 0% 80%;
  }
}